body{
    background-color: #06113C;
}
.nav-bar{
    display: inline-flex;
    align-items: center;
}

.logo-title{
    color: #EEEEEE;
    font-size: 1.5rem;
    font-family: 'Georama', sans-serif;
    font-weight:650;
    margin: 1.875rem;
    margin-left: 7.5rem;
    margin-right: 43rem;
}

.links a{
    margin: 0 1rem;
    color: #FF8C32;
    text-decoration: none;   
    font-family: 'Georama', sans-serif;   
}

a:hover{
    color: #EEEEEE; 
}



.footer{
    color: #EEEEEE;
    text-align: center;
    font-family: 'Georama', sans-serif; 
    margin-top: 5rem;  

}

footer a{
    color: #FF8C32;
    text-decoration: none;   
    font-family: 'Georama', sans-serif; 
}


table{
    margin-top: 1.5%;
    width: 100%; 
    background-color: #EEEEEE;
    font-family: 'Georama', sans-serif;  
    color: #06113C; 
    margin-left: auto;
    margin-right: auto;
}

th{
    font-size: 1.563rem;
    border-bottom: 0.125rem solid #FF8C32;
}
td{
    text-align: center;
    border-bottom: 0.125rem solid #FF8C32;
}
td:nth-child(odd) {
    background: #DDDDDD;
    border-bottom: 0.125rem solid #FF8C32;
}






