body{
    background-color: #06113C;
}
.nav-bar{
    display: inline-flex;
    align-items: center;
}

.logo-title{
    color: #EEEEEE;
    font-size: 1.5rem;
    font-family: 'Georama', sans-serif;
    font-weight:650;
    margin: 1.875;
    margin-left: 7.5rem;
    margin-right: 43rem;
}

.links a{
    margin: 0 1rem;
    color: #FF8C32;
    text-decoration: none;   
    font-family: 'Georama', sans-serif;   
}

a:hover{
    color: #EEEEEE; 
}



.footer{
    color: #EEEEEE;
    text-align: center;
    font-family: 'Georama', sans-serif; 
    margin-top: 7.5rem;  

}
footer a{
    color: #FF8C32;
    text-decoration: none;   
    font-family: 'Georama', sans-serif; 
  }



#pic{
    display: flex;
    align-items: center;
}

.card{
    align-content: center;
    background-image: url(./card1.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0.063rem solid #06113C;
    margin-top: 1.25rem;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    column-gap: 21.875rem;
    row-gap: 1.563rem;
    padding: 0.625rem;
    z-index: 2;
    margin-top: 0.3rem;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 0.5;
    padding: 1.25rem 0;
    font-size: 1.875rem;
    font-family: 'Georama', sans-serif; 
    font-size: 1.25rem;
    font-weight: 800;
    height: 0.313rem; 
    width: 20rem;
    margin-left: 1rem;
    border-radius: 0.75rem;
    
  }

  form{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: 26.563rem;
    margin-top: 1.875rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 2.188rem; 
    width: 31.25rem;
    border-radius: 0.75rem;
    align-items: center;
    font-family: 'Georama', sans-serif; 
    text-align: center;
    padding-bottom: 0.313rem;
}


input{
  background-color: #FF8C32;
  margin-top: 0.438rem;
  font-family: 'Georama', sans-serif;
  border-radius: 0.75rem;
  text-align: center;
}

#save{
    position: absolute;
    width: 10rem;
    height: 2.5rem;
    left: 36.875rem;
    top: 34.375rem;
    background: #FF8C32;
    border-radius: 0.438rem;
    font-family: 'Georama', sans-serif;
    color: #EEEEEE; 
    font-size: 0.938rem;
    }
  